
@{
    ViewBag.Title = "Index";
}

<img id="imgMario" hidden src="~/Asset/mario.png" />
<img id="imgPrincess" hidden src="~/Asset/princess.png" />
<img id="imgWall" hidden src="~/Asset/Wall.png" />
<img id="imgFoot" hidden src="~/Asset/footprint.png" />
<div class="row mt-2">




    <div class="col-md-12">
        <canvas id="mapMain"></canvas>
    </div>

</div>



@section js{
    <script>
        var Map = null, Cols = 0, Rows = 0;
        var imgMario = document.getElementById("imgMario");// $("#imgTank").val();
        var imgPrincess = document.getElementById("imgPrincess")
        var imgWall = document.getElementById("imgWall");//$("#imgWall").val();
        var imgFoot = document.getElementById("imgFoot");
        var canvas = document.getElementById('mapMain');

        var context = canvas.getContext('2d');
        var pxStart = 0, pyStart = 0, pyEnd = 0, pxEnd = 0;
        $(document).ready(function () {

            //context.beginPath();
            ////draw line with x
            //for (var i = 0; i < 37; i++) {
            //    context.moveTo(i * 30, 0);
            //    context.lineTo(i * 30, 1110);
            //}
            ////draw line with y
            //for (var i = 0; i < 37; i++) {
            //    context.moveTo(0, i * 30);
            //    context.lineTo(1110, i * 30);
            //}


            //context.closePath();
            //context.lineWidth = 1;
            //context.strokeStyle = '#6d4c41';//rgba(76, 175, 80, 0.7)

            ////'#3f51b5';
            //context.stroke();

            $("#lstMap").on("change", function (e) {
                e.preventDefault();
                //$("#exampleModalCenter").modal("hide");
                ////$("#").collapse('hide');
                //$('#accordion').collapse({
                //    toggle: false
                //})
                var mapid = $(this).val();
                $.ajax({
                    url: "/Tank/LoadMap?mapid=" + mapid,
                    success: function (data) {
                        //console.log(data);
                        Map = data.Map;
                        Cols = data.Cols;
                        Rows = data.Rows;
                        DrawMap();
                    },
                    error: function () {

                    }
                })
            });

        });
        function DrawMap() {
            if (Rows < 0 || Cols < 0 || Map == null) {
                alert("Không thể khởi tạo bản đồ.");
                return;
            }
            var widthMap = Cols * 30;
            var heightMap = Rows * 30;

            $("#mapMain").prop("width", widthMap);
            $("#mapMain").prop("height", heightMap);
              $("#mapMain").css("background-image", 'linear-gradient(to left, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%),url(/Asset/background.png)');
            context.beginPath();
            //draw line with x
            //for (var i = 0; i <= Cols; i++) {
            //    context.moveTo(i * 30, 0);
            //    context.lineTo(i * 30, heightMap);
            //}
            ////draw line with y
            //for (var i = 0; i <= Rows; i++) {
            //    context.moveTo(0, i * 30);
            //    context.lineTo(widthMap, i * 30);
            //}
            $.each(Map, function (key, cell) {
                switch (cell.Status) {
                    case 1: context.drawImage(imgWall, (cell.Col * 30), (cell.Row * 30), 30, 30); break;
                    case -1: {
                        pxStart = cell.Col;
                        pyStart = cell.Row;
                        context.drawImage(imgMario, (cell.Col * 30), (cell.Row * 30), 30, 30);
                        break;
                    }
                    case 99: {
                        pxEnd = cell.Col;
                        pyEnd = cell.Row;
                        context.drawImage(imgPrincess, (cell.Col * 30), (cell.Row * 30), 30, 30);
                        break;
                    }
                    default:
                        //context.drawImage(imgMario, (cell.Col * 30), (cell.Row * 30), 30, 30);
                        break;
                }



            });
            context.fillStyle = "#9ea7b8";
            context.closePath();

            context.lineWidth = 1;
            context.strokeStyle = '#6d4c41';//rgba(76, 175, 80, 0.7)

            //'#3f51b5';
            context.stroke();


        }
        var Go = setInterval(function () {

        });

    </script>

}
